

header{color: coral;
font-style: oblique;
border-style: groove;
border-width: 10px;
border-color: #e9967a;}

h2 {color: coral;
border-style: groove;
border-width: 10px;
border-color: #e9967a;
text-align: center;
margin-left: 30%;
margin-right: 30%;}




 body { header { background-color: #e9967a;}
       main { background-color: bisque;}
       footer { background-color: darkmagenta;}

#Laranjais { width: 30%;
align-items: center;}
#jurema { width: 30%;
margin-left: 50%;}
#jardins { width: 30%;}
}



      